#Todo file
todo.html

# Test files
install/install.sql_
get_php.php
test.php

# Will generate after installation
install/403.html
install/.htaccess
config/database.php

# Extra uploads
assets/digital_books/*.*
assets/images/books/*.*
assets/images/logos/*.*
assets/previews/*.*